<div class="contextual">
<%= link_to l(:label_material_category_new), {:controller => "material_categories", :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h3><%=l(:label_material_categories)%></h3>
 
<table class="list">
  <thead><tr>
  <th><%=l(:field_material_category)%></th>
  <th><%=l(:field_material_category_code)%></th>
  <th></th>
  </tr></thead>
  <tbody>
    <% MaterialCategory.category_tree(MaterialCategory.order('lft')) do |category, level| %>
      <tr class="<%= cycle("odd", "even") %> project <%= category.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
      <td class="name"><span><%= link_to category.name, edit_material_category_path(category) %></span></td>
      <td class="code"><span><%= category.code %></span></td>
      <td class="buttons">
        <%= delete_link material_category_path(category) %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>


