<h2><%=l(:label_material_categories)%>: <%=h @category.name %></h2>

<%= form_tag(material_category_path(@category), :method => :delete) do %>
<div class="box">
<p><strong><%= l(:text_material_category_destroy_question, @materials_count) %></strong></p>
<p><label><%= radio_button_tag 'todo', 'nullify', true %> <%= l(:text_material_category_destroy_assignments) %></label><br />
<% if @materials_count > 0 %>
<label><%= radio_button_tag 'todo', 'reassign', false %> <%= l(:text_material_category_reassign_to) %></label>:
<%= select_tag 'reassign_to_id', options_from_collection_for_select(@categories, 'id', 'name') %></p>
<% end %>
</div>

<%= submit_tag l(:button_apply) %>
<%= link_to l(:button_cancel), :controller => 'settings', :action => 'plugin', :id => 'redmine_materials', :tab => 'material_categories' %>
<% end %>